@tailwind base;
@tailwind components;
@tailwind utilities;

/* Para ocultar los botones de aumentar/disminuir en navegadores modernos */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para ocultar los botones en Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

:root {
  color-scheme: light;
}

/* Estiliza la barra de desplazamiento en Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra */
  height: 8px; /* Altura de la barra horizontal */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la pista */
  border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color del "thumb" (la parte que se mueve) */
  border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color al pasar el mouse sobre el "thumb" */
}

/* Firefox */
html {
  scrollbar-width: thin; /* Barra más delgada */
  scrollbar-color: #888 #f1f1f1; /* Color del "thumb" y de la pista */
}

.bg-layout {
  background: radial-gradient(circle, #e0e8f4, #859cb1);
}

.ant-picker-presets ul > li {
  background-color: #f1f1f1;
  padding: 5px !important;
}
.ant-picker-presets ul > li:hover {
  background-color: #4283fa !important;
  color: white;
}

.ant-picker-input-active {
  /* padding: 0.1rem 0.2rem; */
  color: black;
  /* background-color: rgb(0, 115, 255); */
}
.ant-picker-disabled {
  font-weight: 700;
}

.text-container {
  width: 200px; /* Ancho fijo del contenedor */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que no cabe */
}

.text-content {
  display: inline-block; /* Permite que el texto se desplace horizontalmente */
  padding-left: 100%; /* Inicia el texto fuera del contenedor */
  animation: scroll-text 10s linear infinite; /* Animación de desplazamiento */
}

@keyframes scroll-text {
  0% {
    transform: translateX(100%); /* Comienza fuera del contenedor */
  }
  100% {
    transform: translateX(-100%); /* Termina fuera del contenedor */
  }
}
